  body {
    margin: 0px;
  }
.main {
  width: 500px;
  height: 100vh;
  background-color: lightgrey;
  margin: 0 auto;

}
.ui {
  display: grid;
  grid-template-columns: repeat(4,80px);
  width: 600px;
  height: 80%;
}
