:root {
  --title-bg:rgb(231, 227, 232,0.5);
  --border-colr:rgb(185, 181, 186);
}
body {
  margin:0px;
  padding:0px;
  font-family: "Roboto";
}
header {
  background-color: var(--title-bg);
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 h2 {
  margin-left: 300px;
  color:#2d2e33;
  margin-bottom: 40px;
}

nav {
  background-color: #3a3e45;
  display: flex;
  flex-direction: column;
  float: left;
  height: 120vh;
  
}
 nav button {
  font-size: 30px;
    border: none;
    margin: 40px auto;
    background-color: #3a3e45; ;
    display: flex;
    border-radius: 20px;
 }
 
.shrink-nav p {
  width:100px;
  display: none;
}
nav button:hover {
  background-color:#14161a;
}
 button i {
  background-blend-mode: overlay;;
  color:white;
  font-size: 30px;
  margin:10px 20px 10px 10px;
 }
  button p {
         position: relative;
         margin-right: 20px;
         font-size: 20px;
         color: white;
  }
  


  .graph-container {
    display: flex;
    flex-direction:row ;
  }
  .email-stats-div {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-colr);
    float: left;
    width: 450px;
    box-sizing: border-box;
    margin:50px 20px 0px 5px;
    position: relative;
  }
  .email-stats-div .title {
    border-bottom: 1px solid var(--border-colr);
    background-color:var(--title-bg) ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .title h2 {
    margin: 0px;
  }


#piechart div {
width:300px;
}  
  .linechart-div {
    border: 1px solid var(--border-colr);
    margin:50px 10px 0px 10px;
  }
  .linechart-div .title {
    border-bottom: 1px solid var(--border-colr);
    background-color: var(--title-bg);

  }
  


  .map-container {
    background-image:url("assets/googl_ED.jpg");
    background-color: lightgray;
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    height: 120vh
  }


  .user-flex {
    display: flex;
    text-align: center;
    flex-direction: column;
    border:1px solid var(--border-colr);
    width:400px ;
    height: 100vh;
    margin: 0px auto;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
  }
  .user-flex .user-wallpaper img {
    width: 400px;
    height: 300px;
  }
  .user-details .user-img img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}
.user-details .user-data {
  color: #2d2e33;
}
.user-data :nth-child(2) {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 60px;
}
.user-details .user-data h2 {
  margin:auto;
}
